@use './modules/base';
@use './modules/btnback';
  
.content-task{
  .task{
    display: flex;
    justify-content: space-between;
    background: rgb(209, 253, 203);

    
    b{
      margin-right: 10px;
      color: rgb(12, 107, 0);
    }
  }
}
  

  
@media (min-width: 768px){
  @media (min-width: 768px) {
    .content-task {
      margin: auto;
      width: 55%;
    }
  }
}
  

  