<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista</title>
    <link rel="icon"  href="./img/icon-logo.png">
    <link rel="stylesheet" href="./bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="./css/create-task.css">

</head>

<body>
    <div class="container ">
        <header>
            <div class="title">
                <h1>CREAR TAREAS</h1>
            </div>
        </header>
        <a href="/" id="btn-back">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                <path d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0zm3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
              </svg>
        </a>
        <!-- Button trigger modal -->
        <button id="create-task" type="button" class="btn y" data-bs-toggle="modal" data-bs-target="#tareaModal"
            data-bs-whatever="@mdo">+</button>
        

        <div class="modal fade " id="tareaModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    
                    <div class="modal-body">
                        <form >
                            <div class="mb-3 d-flex">
                                
                                <input type="text" class="form-control" id="task" placeholder="Agregar una tarea"><button type="button" class="btn" id="delete-inputValue">x</button>
                            </div>
                            <div class="modal-button">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                                <button type="button" id="add-task" data-bs-dismiss="modal" class="btn btn-success">Agregar</button>
                            </div>
                            
                        </form>
                    </div>
                    
                </div>
            </div>
        </div>

        
        <section class="content-task">
            
        </section>

    </div>
    <script src="./js/create-task.js" type="module"></script>
    <script src="./bootstrap/js/bootstrap.min.js"></script>
</body>

</html>