$fondo-deg1:linear-gradient(135deg, rgb(140, 0, 255) 23%, rgb(61, 16, 143));
$fondo-deg2:linear-gradient(135deg, rgb(255, 145, 0) 23%, rgb(167, 87, 13));
$fondo-deg3:linear-gradient(135deg, rgb(0, 174, 255) 23%, rgb(28, 81, 160));
$fondo-deg4:linear-gradient(135deg, rgb(2, 255, 65) 23%, rgb(0, 138, 23));
$fondo-deg5:linear-gradient(135deg, rgb(255, 60, 0) 23%, rgb(189, 24, 18));
$fondo: #222;
$color-text:#fff;

*{margin: 0;padding: 0;box-sizing: border-box;font-family: Verdana, Geneva, Tahoma, sans-serif;}